
body {
	font-family: "IBM Plex Serif", Georgia, "Times New Roman", serif;
	font-size: 20px;
	line-height: 1.5em;
	color: #25236a;
}

h1 {
	font-family: "IBM Plex Serif", Georgia, "Times New Roman", serif;
	margin: 2em 0 0.35em 0;
	font-weight: normal;
	font-size: 2em;
}

h2 {
	margin: 0 0 3em 0;
	font-weight: normal;
	font-size: 1.125em;
}

h3 {
	margin: 2em 0 1em 0;
	font-family: "IBM Plex Sans", Verdana, sans-serif;
	font-weight: bold;
	font-weight: 600;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color: #d2416d;
}

ul {
	margin: 0 0 0.25em 0;
	padding: 0;
	border-top: none;
}

li {
	list-style-type: none;
}

li i {
	font-size: 0.8em;
	padding: 0 0 0 0.5em;
	font-style: normal;
	color: #666;
}

li a {
	display: block;
	padding: 0.5em 1em;
	border-top: 1px solid #abe4e9;
	background: #e9fdff;
	text-decoration: none;
	color: inherit;
}

li a:hover {
	border-color: #d2416d;
	background-color: #d2416d;
	color: #fee;
}

li a:hover i {
	color: #fee;
}



p a {
	color: #d2416d;
	border-bottom: 1px solid #d2416d;
	text-decoration: none;
}

p a:hover {
	background-color: #d2416d;
	color: #fee;
}




.note {
	font-size: 0.8em;
}

.contact {
	margin: 3em 0 0 0;
}

