

body {
	font-family: "IBM Plex Serif", Georgia, "Times New Roman", serif;
	font-size: 20px;
	line-height: 1.5em;
	color: #25236a;
}

h1 {
	font-family: "IBM Plex Serif", Georgia, "Times New Roman", serif;
	margin: 2em 0 0.35em 0;
	font-weight: normal;
	font-size: 2em;
	line-height: 1.125em;
}

h2 {
	margin: 0 0 3em 0;
	font-weight: normal;
	font-size: 1.125em;
}

h3 {
	margin: 2em 0 1em 0;
	font-family: "IBM Plex Sans", Verdana, sans-serif;
	font-weight: bold;
	font-weight: 600;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color: #d2416d;
}

input {
	font-family: "Source Code Pro", Courier, monospace;
	border: 1px solid #bfd8da;
	background: #f4feff;
	padding: 0.25em 0.5em;
	font-size: 0.9em;
}

b {
	font-weight: normal;
	font-style: normal;
	font-family: "Source Code Pro", Courier, monospace;
	font-size: 1em;
	color: #ff0073;
}

.container {
	max-width: 800px;
	width: 80%;
	margin: 2em auto 0 auto;
	padding: 2em 4em 4em 4em;
	background: #e9fdff;
}

section {
	margin: 2.5em 0 0 0;
	padding: 0.5em 0 0 0;
	border-top: 1px solid #bfd8da;
}

/* inside pages - global nav */
.global-nav {
	margin: 1em 0 1em 0;
}
.global-nav a,
.global-nav a:visited {
	padding: 0.25em 0.35em;
	text-decoration: none;
	color: #d2416d;
	background-color: #f5dee5;	
	font-size: 0.8em;
	font-family: "IBM Plex Sans", Verdana, sans-serif;
}
